<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h3 class="text-center text-info">
                签名列表
            </h3>
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>
                        序号
                    </th>
                    <th>
                        uid
                    </th>
                    <th>
                        用户名
                    </th>
                    <th>
                        签名id
                    </th>
                    <th>
                        模版id
                    </th>
                    <th>
                        类型
                    </th>
                    <th>
                        内容
                    </th>
                    <th>
                        发送状态
                    </th>
                    <th>
                        消费
                    </th>
                    <th>
                        号码
                    </th>
                    <th>
                        是否删除
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for res in result %}
                <tr class="info">
                    {% for key, value in res.items() %}
                    <td class="info">
                        {{ value }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>